@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

body {
	background: #c31432; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#240b36,
		#c31432
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #240b36, #c31432);
	height: 100vh;
	font-family: "Days One", sans-serif;
}

.input-group span {
	width: 150px;
}
.error {
	background-color: #fee2e2;
}
.maindiv span {
	margin: auto;
}

h1 {
	font-family: "Days One", sans-serif;
	color: #a7f3d0;
	font-size: 3.5rem;
}
.tracknav {
	background-color: #a7f3d0;
	height: 60px;
}
.newTransaction span {
	width: 40px;
}
.Spinner {
	display: table;
	margin: 0 auto;
}
.Spinner > .ImgSpinner {
	max-width: 30px;
}
.money {
	color: #f1f5f9;
}
